<!DOCTYPE html>
<html>
<head>
  <meta charset=”utf-8″>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
  <title>Fall of Yum Progress Tracker</title>
  <style>
    body {
      background-image: url("{{url_for('static', filename='images/fall_of_yum.png')}}");
    }
    .complete-card{
      background-color: rgba(145, 253, 130, 1);
    }
    .incomplete-card{
      background-color: rgba(227, 190, 100, 1);
    }
    .text-orange{
      color: #f95200;
    }
  </style>
</head>
<body>
  <div class="text-center">
    <h1 class='text-success'>This is updated every minute to avoid getting rate limited</h1>
    <h1><a href="#complete">Complete</a></h1>
    <h1><a href="#inProgress">In Progress</a></h1>
    <h1><a href="#trophyArea">Trophy History</a></h1>
  </div>

  <br><br><br><br>

  <div>
    <h1 id="complete" class="text-center text-success">Complete ({{complete_titles|length}} Games)</h1>
    <br>
    <br>
  </div>
  {% with titles_to_display = complete_titles %}
    {% include "titles.html" %}
  {% endwith %}

  <br><br><br>

  <div class="justify-content-center">
    <h1 id="inProgress" class="text-center text-warning">In Progress ({{incomplete_titles|length}} Games)</h1>
    <br>
    <br>
  </div>
  {% with titles_to_display = incomplete_titles %}
    {% include "titles.html" %}
  {% endwith %}

  <br><br><br>

  <div id="trophyArea" class="row justify-content-center">
    <div class="col-6">
      <h2 class="text-info">Fall of Yum Trophies Earned ({{trophy_count}} Total)</h2>
      <table class="table table-hover table-bordered">
        <thead>
          <tr>
            <th>Game</th>
            <th>Trophy</th>
            <th>Time</th>
          </tr>
        </thead>
        <tbody>
          {% for date, trophies, color in trophies %}
            {% for trophy_info in trophies %}
            <tr class="{{color}}">
              <td>
                {% if trophy_info.is_plat()%}
                <img src="https://assets.help.twitch.tv/article/img/moments-badges/tier-04.png" height="30">
                {% endif %}
                <a href="{{trophy_info.title_info.title_psn_link}}" target="_blank">{{trophy_info.title_info.title_name}}</a>
              </td>
              <td>{{trophy_info.trophy_name}}</td>
              <td>{{format_time(trophy_info.earned_date_time)}}</td>
            </tr>
            {% endfor %}
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>
</html>